@import "tailwindcss";

@custom-variant dark (&:where([data-theme=gruvbox-dark], [data-theme=gruvbox-dark] *));

@theme gruvbox-dark {
  --color-dark-background: #282828;
  --color-dark-background-0: var(--color-dark-background);
  --color-dark-background-1: #3c3836;
  --color-dark-background-2: #504945;
  --color-dark-background-3: #665c54;
  --color-dark-background-4: #7c6f64;
  --color-dark-background-0h: #1d2021;
  --color-dark-background-0s: #32302f;
  --color-dark-background-gray: #928374;

  --color-dark-red-background: #cc241d;
  --color-dark-green-background: #98971a;
  --color-dark-yellow-background: #d79921;
  --color-dark-blue-background: #458588;
  --color-dark-purple-background: #b16286;
  --color-dark-aqua-background: #689d6a;
  --color-dark-orange-background: #d65d0e;
  --color-dark-gray-background: #928374;

  --color-dark-foreground: #ebdbb2;
  --color-dark-foreground-0: #fbf1c7;
  --color-dark-foreground-1: var(--color-dark-foreground);
  --color-dark-foreground-2: #d5c4a1;
  --color-dark-foreground-3: #bdae93;
  --color-dark-foreground-4: #a89984;

  --color-dark-red-foreground: #fb4934;
  --color-dark-green-foreground: #b8bb26;
  --color-dark-yellow-foreground: #fabd2f;
  --color-dark-blue-foreground: #83a598;
  --color-dark-purple-foreground: #d3869b;
  --color-dark-aqua-foreground: #8ec07c;
  --color-dark-orange-foreground: #fe8019;
  --color-dark-gray-foreground: #a89984;
}

@theme gruvbox-light {
  --color-background: #fbf1c7;
  --color-background-0: var(--color-background);
  --color-background-1: #ebdbb2;
  --color-background-2: #d5c4a1;
  --color-background-3: #bdae93;
  --color-background-4: #a89984;
  --color-background-0h: #f9f5d7;
  --color-background-0s: #f2e5bc;
  --color-background-gray: #928374;

  --color-red-background: #cc241d;
  --color-green-background: #98971a;
  --color-yellow-background: #d79921;
  --color-blue-background: #458588;
  --color-purple-background: #b16286;
  --color-aqua-background: #689d6a;
  --color-orange-background: #d65d0e;
  --color-gray-background: #7c6f64;

  --color-foreground: #3c3836;
  --color-foreground-0: #282828;
  --color-foreground-1: var(--color-foreground);
  --color-foreground-2: #504945;
  --color-foreground-3: #665c54;
  --color-foreground-4: #7c6f64;

  --color-red-foreground: #9d0006;
  --color-green-foreground: #79740e;
  --color-yellow-foreground: #b57614;
  --color-blue-foreground: #076678;
  --color-purple-foreground: #8f3f71;
  --color-aqua-foreground: #427b58;
  --color-orange-foreground: #af3a03;
  --color-gray-foreground: #928374;
}
