@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}
@custom-variant dark (&:where(.dark, .dark *));

@theme gruvbox-light {
  --color-background: #282828;
  --color-background-0: var(--color-background);
  --color-background-1: #3c3836;
  --color-background-2: #504945;
  --color-background-3: #665c54;
  --color-background-4: #7c6f64;
  --color-background-0h: #1d2021;
  --color-background-0s: #32302f;
  --color-background-gray: #928374;

  --color-red-background: #cc241d;
  --color-green-background: #98971a;
  --color-yellow-background: #d79921;
  --color-blue-background: #458588;
  --color-purple-background: #b16286;
  --color-aqua-background: #689d6a;
  --color-orange-background: #d65d0e;
  --color-gray-background: #928374;

  --color-foreground: #ebdbb2;
  --color-foreground-0: #fbf1c7;
  --color-foreground-1: var(--color-foreground);
  --color-foreground-2: #d5c4a1;
  --color-foreground-3: #bdae93;
  --color-foreground-4: #a89984;

  --color-red-foreground: #fb4934;
  --color-green-foreground: #b8bb26;
  --color-yellow-foreground: #fabd2f;
  --color-blue-foreground: #83a598;
  --color-purple-foreground: #d3869b;
  --color-aqua-foreground: #8ec07c;
  --color-orange-foreground: #fe8019;
  --color-gray-foreground: #a89984;
}

@theme gruvbox-dark {
  --color-background: #fbf1c7;
  --color-background-0: var(--color-background);
  --color-background-1: #ebdbb2;
  --color-background-2: #d5c4a1;
  --color-background-3: #bdae93;
  --color-background-4: #a89984;
  --color-background-0h: #f9f5d7;
  --color-background-0s: #f2e5bc;
  --color-background-gray: #928374;

  --color-red-background: #cc241d;
  --color-green-background: #98971a;
  --color-yellow-background: #d79921;
  --color-blue-background: #458588;
  --color-purple-background: #b16286;
  --color-aqua-background: #689d6a;
  --color-orange-background: #d65d0e;
  --color-gray-background: #7c6f64;

  --color-foreground: #3c3836;
  --color-foreground-0: #282828;
  --color-foreground-1: var(--color-foreground);
  --color-foreground-2: #504945;
  --color-foreground-3: #665c54;
  --color-foreground-4: #7c6f64;

  --color-red-foreground: #9d0006;
  --color-green-foreground: #79740e;
  --color-yellow-foreground: #b57614;
  --color-blue-foreground: #076678;
  --color-purple-foreground: #8f3f71;
  --color-aqua-foreground: #427b58;
  --color-orange-foreground: #af3a03;
  --color-gray-foreground: #928374;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
